/* =========================
   Basis-Reset & globale Variablen
   ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --footer-height: 80px;
}

/* =========================
   Dokument-Grundlage
   ========================= */
html, body {
  height: 100%;
  overscroll-behavior: none;
  
}

/* =========================
   Body-Layout & Typografie
   ========================= */
body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);

  overflow-x: hidden;
  padding-bottom: 0;
}

/* =========================
   Hauptbereich: füllt den verfügbaren Platz
   ========================= */
main.page {
  flex: 1;
}

/* =========================
   Hintergrund: Bibliothek (fixiert, hinter dem Content)
   ========================= */
.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
  linear-gradient(rgba(80, 27, 29, .2), rgba(80, 27, 29, .2)),
  url('../../assets/img/backgrounds/main-library.jpg') center/cover no-repeat;
  filter: brightness(.6);
  pointer-events: none;
}