.footer-banner {
  position: relative;       
  width: 100%;
  background-color: var(--primary-color);
  min-height: 80px;           
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;                 
}

.footer-inner {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;          
  flex-wrap: wrap;           
}

.footer-link {
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 0px;
}

.footer-link:not(:last-child)::after {
  content: " | ";
  color: var(--text-color);
  padding: 0 8px;
}

.footer-link:hover {
  text-decoration: underline;
}
