.footer-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.footer-inner {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-link {
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 0px;
}

.footer-link:not(:last-child)::after {
  content: " | ";
  color: var(--text-color);
  padding: 0 8px;
}

.footer-link:hover {
  text-decoration: underline;
}
